{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <!-- <div class="backdrop two-column grid">
    <div class="bg-pattern-dark"></div>
    <div class="bg-pattern-dark"></div>
  </div> -->
  <header class="header ">
    <a href="/" class="logo-mark">
      <img src="images/logo-mark-color.svg" width="64">
    </a>
    <div class="nav three-column grid">
      <a class="nav-link" href="#">Fonts</a>
      <a class="nav-link" href="#">About</a>
      <a class="nav-link" href="#">Hire</a>
    </div>
  </header>
  <section class="section bg-stars">
    <div class="relative narrow layout">
      <div class="card centered">
        <div class="card-body spacious">
          <h1 class="text-color-red big fancy level-one heading">Goiters</h1>
          <h4 class="level-four heading mb-03 text-color-red">FAT &amp; FUN</h4>
          <p class="body-copy">Goiters is a funky sans-serif typeface perfect for when you need to draw lots of attention without being boring or tacky. Though it's not recommended, it can also be used in small blocks of text such as this one.</p>
          <!-- <p class="body-copy">Goiters is currently a work in progress and can be found on <a class="text-color-red" href="https://futurefonts.xyz">Future Fonts</a>.</p> -->
          <a class="primary button" href="https://www.futurefonts.xyz/jake-fleming/goiters">Buy on Future Fonts</a>
        </div>
      </div>
    </div>
    <div class="relative layout vertically-aligned stacked-on-mobile grid two-column">
      <div class="overlap-top">
        <img class="tilt-left" src="images/spec-goiters-toy.svg">
      </div>
      <div>
        <div class="card">
          <div class="card-body">
            <h2 class="level-two fancy heading text-color-red centered">
                Playful Hero
            </h2>
            <p class="body-copy">
              Goiters is the product of jumping straight into vector drawing without looking at any other typefaces while doing work. The very first version of Goiters was created for marketing material for a hackathon for fonts called <a href="https://gettypejam.com">Type Jam</a>. Go <a href="https://medium.com/type-thursday/create-your-own-font-in-48-hours-f1d42f911a51">read more</a> about that event if you'd like.
            </p>
            <p class="body-copy">
              One of the constraints of Goiters was to never look at other typefaces early on in the process and just draw some fun looking stuff.
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section bg-red centered">
    <div class="layout narrow">
      <h2 class="level-two heading text-color-white">
          Quirky
      </h2>
      <p class="body-copy text-color-white">Since Goiters was initially created for headings in the marketing material for <a class="text-color-white" href="https://gettypejam.com">Type Jam</a>, one of the main focuses while working on it was drawing attention to important information with boldness and quirkiness.  </p>
    </div>
    <div class="layout grid two-column stacked-on-mobile">
      <div class="mb-03 card">
        <div class="card-body">
          <img src="images/spec-goiters-E.svg">
        </div>
      </div>
      <div class="mb-03 card">
        <div class="card-body">
          <img src="images/spec-goiters-S.svg">
        </div>
      </div>
    </div>
    <div class="layout relative">
      <div class="card">
        <div class="card-body">
          <div class="mb-03 relative">
            <img src="images/spec-goiters-sexy-cat.svg" class="sexy-cat">
            <img class="block full-width" src="images/spec-goiters-comic-p1.svg">
          </div>
          <div class="two-column grid stacked-on-mobile">
            <div class="mb-03 relative shake">
              <img class="block full-width" src="images/spec-goiters-comic-p2.svg">
            </div>
            <div class="mb-03 relative">
              <div class="kra-doom">
                <div class="">KRA-</div>
                <div class="">DOOM</div>
              </div>
              <img class="block full-width" src="images/spec-goiters-comic-p3.svg">
            </div>
          </div>
          <div class="relative">
            <img class="block full-width death-cat" src="images/spec-goiters-comic-p4-cat.svg">
            <img class="block full-width" src="images/spec-goiters-comic-p4.svg">
          </div>
        </div>
      </div>
    </div>


  </section>
  <section class="section bg-pattern-02">

    <div class="grid two-column stacked-on-mobile centered">
      <div class="mb-03 card">
        <div class="card-body">
          <img src="images/spec-goiters-arms.svg">
        </div>
      </div>
      <div class="mb-03 card">
        <div class="card-body">
          <img src="images/spec-goiters-voice.svg">
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-stars">
    <div class="narrow layout centered mb-03">
      <h2 class="level-two fancy heading text-color-red">
          Try it!
      </h2>
      <p class="body-copy mb-0">You are trying <a href="#trial-fonts"><b class="text-color-red">TRIAL FONTS</b></a>, which means limited character set, no open type features, kerning, etc...</p>

    </div>
    <div class="narrow layout centered">
      <div class="card padded bg-red centered mb-03 relative">
        <div class="edit-badge edit-badge-01">EDIT THIS</div>
        <h3 class="big heading text-color-yellow" contenteditable="">Several <span class="text-color-white">Meteors</span> Zoom</h3>
      </div>
      <div class="card padded mb-03 relative">
        <div class="edit-badge edit-badge-02">EDIT THIS</div>
        <h2 class="level-two heading text-color-red" contenteditable="">DOOM<br>GLOOM!</h2>
        <h4 class="level-four heading text-color-red" contenteditable="">Meteor Headed This Way!</h4>
        <p class="body-copy" contenteditable="">
          Meliore Fußballweltmeisterschaft et Glühwein Te über utamur Apfelstrudel Exerci Köln eu Jürgen Klinsmann Principes Audi eos Apfelstrudel His genau moderatius Brezel at Apfelstrudel omnis Frau Professor epicurei, schnell feugait Currywurst ei. Müller Rice purto Stuttgart te.
        </p>
      </div>
      <div class="card padded bg-yellow centered mb-03 relative">
        <div class="edit-badge edit-badge-02">EDIT THIS</div>
        <h3 class="big heading text-color-red" contenteditable="" style="font-size: 10rem;"><span class="text-color-blue">$</span>28</h3>
      </div>
      <div class="card bg-character padded mb-03 relative">
        <div class="edit-badge edit-badge-01">EDIT THIS</div>
        <h2 class="level-two heading text-color-red" contenteditable="">Käsefondue<br>Hörspiele!</h2>

        <p class="body-copy big text-color-red" contenteditable="">
          Rubin auf Schienen inermis Müller Rice accommodare Aufschnitt Id Prost assum Meerschweinchen te Hockenheim erroribus Wie geht's Nec Gemeinsamkeit amet Turnbeutel iriure, Wiener Schnitzel gloriatur Bildung ut. Reinheitsgebot virtute Bildung per Polizei At Deutschland scaevola Weltschmerz An Flughafen malorum Schwarzwälder Kirschtorte ius
        </p>
      </div>
    </div>
  </section>
  <section class="section bg-pattern-02 centered" id="trial-fonts">
    <div class="narrow layout">
      <div class="card">
        <div class="card-body spacious">

          <h3 class="level-three fancy heading text-color-red centered">
            Want Trial Fonts?
          </h3>
          <p class="body-copy centered">
            You'll get an email with a zip of fonts with a limited character set, no open-type features, kerning, etc...
          </p>
          <form class="form" action="https://formspree.io/jcbflmng@gmail.com" method="POST">
            <input class="form-text mb-03" type="email" name="_replyto" placeholder="Email Address">
            <input class="button accent" type="submit" value="Hell Yup">
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-pattern-01 centered">
    <a class="primary button" href="https://www.futurefonts.xyz/jake-fleming/goiters">Buy on Future Fonts</a>
  </section>




{% endblock %}
