{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="backdrop two-column grid">
    <div class="bg-pattern-accent"></div>
    <div class="bg-pattern-accent"></div>
  </div>
  <header class="header layout">
    <div class="logo-mark">
      <img src="images/logo-mark-color.svg">
    </div>

  </header>
  <div class="plate layout narrow bg-pattern-accent centered" style="padding-bottom: 5rem;">
    <img class="mb-02" src="images/logo-type-color.svg">
    <p class="fancy-text">
      Coming soon!
    </p>

  </div>

{% endblock %}
