{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <!-- <div class="backdrop two-column grid">
    <div class="bg-pattern-dark"></div>
    <div class="bg-pattern-dark"></div>
  </div> -->

  <section class="hero centered mb-03">
    <div class="relative layout">
      <div class="relative">
        <img class="mb-02 block centered" src="images/logo-type-color.svg">
      </div>
      <!-- <p class="fancy-text mb-03">
        Fonts, not food!
      </p> -->
      <!-- <div class="straddle-bottom">
        <img src="images/sticker-01.svg">
      </div> -->
    </div>
  </section>

  <section class="centered">
    <header class="header layout">
      <div class="logo-mark">
        <img src="images/logo-mark-color.svg" width="64">
      </div>
      <div class="nav four-column grid">
        <a class="nav-link" href="#">Fonts</a>
        <a class="nav-link" href="#">Work</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Contact</a>
      </div>
    </header>
    <div  style="margin-bottom: 0;height:200vh;"></div>
  </section>



{% endblock %}
