// * DEFAULTS
@import "defaults/reboot";

// * VARIABLES
@import "variables/color";
@import "variables/general";
@import "variables/type";

// * BASE
@import "base/layout";
@import "base/typography";

// * ATTRIBUTES
@import "attributes/background";
@import "attributes/shadow";

// * COMPONENTS
@import "components/button";
@import "components/card";
@import "components/form";
@import "components/global-notification";
@import "components/image";
@import "components/main";
@import "components/material-icons";
@import "components/nav-list";
@import "components/off-canvas";
@import "components/section";
@import "components/side-nav";
@import "components/top-nav";

// * UTILITIES
@import "utilities/helpers";
@import "utilities/position";

html, body {
  font-feature-settings: "swsh";
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

// .backdrop {
//   grid-gap: 0;
//   position: fixed;
//   height: 100%;
//   width: 100%;
//   z-index: 0;
//   pointer-events: none;
//   + * {
//     position: relative;
//   }
// }


.hero {
  padding: 8rem 4rem;
}
.bg-pattern-01 {
  background: url('../images/bg-pattern-01.svg');
  background-attachment: fixed;
  background-position: top right;
  background-size: 512px;
}

.bg-pattern-02 {
  background: url('../images/bg-pattern-02.svg');
  background-attachment: fixed;
  background-position: 393px 514px;
  background-size: 512px;
}



// nav
.header {
  display: grid;
  background: #000001;
  grid-template-columns: repeat(12, [col-start] 1fr);
  padding: 1rem 2rem;
  position: relative;
  align-items: center;
  .nav {
    height: 3rem;
    grid-column: 4 / span 6;
    grid-gap: 3px;
    text-align: center;
    align-items: center;
    &-link {

    }
  }
}

.nav {
  background: #000001;
  height: auto;
  padding: 3px 3px;
  &-link {
    border-radius: 2rem;
    color: #fab900 ;
    display: block;
    font-size: .5rem;
    font-weight: $font-weight-05;
    line-height: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: .33s;
    &.active {
      background: #f9d971;
      color: #000001;
    }
    &:hover {
      background-color: white;
    }
  }
}

.padded {
  padding: 4rem 2rem;
}

.fancy-text {
  font-family: $font-03;
  font-style: italic;
  color: #fab900;
  font-size: 1.25rem;
  font-weight: $font-weight-05;
  letter-spacing: .5px;
  padding: 1rem 2rem;
  background: #000001;
  display: inline-block;
  border-radius: 2rem;
}

.straddle-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%,50%);
}

.straddle-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
}
