$brand-color-01: #fb3600;
$brand-color-02: #fab900;
$brand-color-03: #fb3600;
$brand-color-04: #a2e4fd;
$brand-color-05: #f9d971;

$neutral-color: #828695;
$neutral-color-lightest: #f2f3f7;
$neutral-color-darkest: #2e364e;

$primary-color: #fb3600;
$primary-color-light: #f2efff;
$accent-color: $brand-color-02;
$accent-color-light: $brand-color-04;
