// * SETTINGS

// ** text transform
@mixin textTransform($transform-settings: initial){
  text-transform: $transform-settings;
}

// * FONTS

// ** weights
$font-weight-01: 100;
$font-weight-02: 200;
$font-weight-03: 300;
$font-weight-04: 400;
$font-weight-05: 500;
$font-weight-06: 600;
$font-weight-07: 700;
$font-weight-08: 800;

// ** families
$font-01: 'Goiters';
$font-02: 'Boxout';
$font-04: 'Boxout-Super-Wide';
$font-03: 'Gooper Italic';

// ** gooper
@font-face { font-family: $font-01; font-weight: $font-weight-01;src: url(../fonts/Goiters0.2-Thin.woff2) format('woff2');}
@font-face { font-family: $font-01; font-weight: $font-weight-02; src: url(../fonts/Goiters0.2-Light.eot); src: url(../fonts/Goiters0.2-Light.woff2) format('woff2'); }
@font-face { font-family: $font-01; font-weight: $font-weight-03; src: url(../fonts/Goiters0.2-Regular.eot); src: url(../fonts/Goiters0.2-Regular.woff2) format('woff2'); }
@font-face { font-family: $font-01; font-weight: $font-weight-04; src: url(../fonts/Goiters0.2-Medium.eot); src: url(../fonts/Goiters0.2-Medium.woff2) format('woff2'); }
@font-face { font-family: $font-01; font-weight: $font-weight-05; src: url(../fonts/Goiters0.2-SemiBold.eot); src: url(../fonts/Goiters0.2-SemiBold.woff2) format('woff2'); }
@font-face { font-family: $font-01; font-weight: $font-weight-06; src: url(../fonts/Goiters0.2-Bold.eot); src: url(../fonts/Goiters0.2-Bold.woff2) format('woff2'); }
@font-face { font-family: $font-01; font-weight: $font-weight-07; src: url(../fonts/Goiters0.2-ExtraBold.eot); src: url(../fonts/Goiters0.2-ExtraBold.woff2) format('woff2'); }
@font-face { font-family: $font-01; font-weight: $font-weight-08; src: url(../fonts/Goiters0.2-Black.eot); src: url(../fonts/Goiters0.2-Black.woff2) format('woff2'); }

// ** boxout
@font-face { font-family: $font-02; font-weight: $font-weight-01;src: url(../fonts/Boxout0.2-Thin.woff2) format('woff2');}
@font-face { font-family: $font-02; font-weight: $font-weight-02; src: url(../fonts/Boxout0.2-Light.eot); src: url(../fonts/Boxout0.2-Light.woff2) format('woff2'); }
@font-face { font-family: $font-02; font-weight: $font-weight-03; src: url(../fonts/Boxout0.2-Regular.eot); src: url(../fonts/Boxout0.2-Regular.woff2) format('woff2'); }
@font-face { font-family: $font-02; font-weight: $font-weight-04; src: url(../fonts/Boxout0.2-Medium.eot); src: url(../fonts/Boxout0.2-Medium.woff2) format('woff2'); }
@font-face { font-family: $font-02; font-weight: $font-weight-05; src: url(../fonts/Boxout0.2-SemiBold.eot); src: url(../fonts/Boxout0.2-SemiBold.woff2) format('woff2'); }
@font-face { font-family: $font-02; font-weight: $font-weight-06; src: url(../fonts/Boxout0.2-Bold.eot); src: url(../fonts/Boxout0.2-Bold.woff2) format('woff2'); }
@font-face { font-family: $font-02; font-weight: $font-weight-07; src: url(../fonts/Boxout0.2-ExtraBold.eot); src: url(../fonts/Boxout0.2-ExtraBold.woff2) format('woff2'); }
@font-face { font-family: $font-02; font-weight: $font-weight-08; src: url(../fonts/Boxout0.2-Black.eot); src: url(../fonts/Boxout0.2-Black.woff2) format('woff2'); }

// ** boxout super wide
@font-face { font-family: $font-04; font-weight: $font-weight-01;src: url(../fonts/Boxout0.2-Super-Wide-Thin.woff2) format('woff2');}
@font-face { font-family: $font-04; font-weight: $font-weight-02; src: url(../fonts/Boxout0.2-Super-Wide-Light.eot); src: url(../fonts/Boxout0.2-Super-Wide-Light.woff2) format('woff2'); }
@font-face { font-family: $font-04; font-weight: $font-weight-03; src: url(../fonts/Boxout0.2-Super-Wide-Regular.eot); src: url(../fonts/Boxout0.2-Super-Wide-Regular.woff2) format('woff2'); }
@font-face { font-family: $font-04; font-weight: $font-weight-04; src: url(../fonts/Boxout0.2-Super-Wide-Medium.eot); src: url(../fonts/Boxout0.2-Super-Wide-Medium.woff2) format('woff2'); }
@font-face { font-family: $font-04; font-weight: $font-weight-05; src: url(../fonts/Boxout0.2-Super-Wide-SemiBold.eot); src: url(../fonts/Boxout0.2-Super-Wide-SemiBold.woff2) format('woff2'); }
@font-face { font-family: $font-04; font-weight: $font-weight-06; src: url(../fonts/Boxout0.2-Super-Wide-Bold.eot); src: url(../fonts/Boxout0.2-Super-Wide-Bold.woff2) format('woff2'); }
@font-face { font-family: $font-04; font-weight: $font-weight-07; src: url(../fonts/Boxout0.2-Super-Wide-ExtraBold.eot); src: url(../fonts/Boxout0.2-Super-Wide-ExtraBold.woff2) format('woff2'); }
@font-face { font-family: $font-04; font-weight: $font-weight-08; src: url(../fonts/Boxout0.2-Super-Wide-Black.eot); src: url(../fonts/Boxout0.2-Super-Wide-Black.woff2) format('woff2'); }


// * DEFINITIONS
$font-heading: $font-01;

// * TYPE SCALE

// ** line-height
$line-height: 1.5rem;
